mixin times(limit, block)
  - for (var i = 1; i <= limit; i++) {
    block
  - }

doctype html
html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')    
      title= title

      link(rel='stylesheet', href='/stylesheets/heartfont.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/modalForms.css')
      link(rel='stylesheet', href='/stylesheets/hearts.css')

    body.heartsBG
      nav.navbar.navbar-default.navbar-fixed-top#navigationBar(role="navigation")
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='change ')
              img#sachLogoNavbar(src="/SVG/SACHlogo.svg" height = "40em" style)
              img#heartsForHeartsNavbar(src="/SVG/heartsForHearts.svg" height = "40em")
          div.navbar-collapse.collapse#navbar
            ul.nav.navbar-nav.navbar-right
              li
                a(href="http://www.saveachildsheart.com/") About
              li
                a(href="https://www.justgiving.com/saveachild/") Contact
                
      div.container
        div.jumbotron
          div.container-fluid
            div.row
              div.col-md-4
                div#logoContainer.centered
                  div#logo
                    img.img-responsive#sachLogo(src="/SVG/SACHlogo.svg")
                    img.img-responsive#heartsForHearts(src="/SVG/heartsForHearts.svg")
              div.col-md-4
                div#meterOutside
                  div#meter
                  img.img-responsive#meterOverlay(src="/img/progress-meter-frame.png")
                  span#meterTotal $1
                button.donate#centerDonate Donate
              div.col-md-4
                p.centered#rightJumboCover $10,000 is required for Save a Child's Heart (SACH) to save the life of one child dying from heart disease. Hearts for Hearts is a new donation platform aiming to raise this amount to help SACH save a life. The site allows you to create a virtual heart to save a real heart, just click Donate to get started. The heart will be personalised to your taste and can even be donated on behalf of someone you love. Donate, Create, and Save a Child's Heart. 
      block content
        div#container
      div.modal.fade.bs-example-modal-lg#myModal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        div.modal-dialog.modal-lg#ModalCanvasSizer
          div.modal-content#modalcanvas
            div#donationGreeting(aria-hidden='false')
              button.close.ModalCloser(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              div#heartContent
                h2#heartBelongs Oops! Something went wrong.              
                div#clickedHeartPic
                h2#donationAmountCounter &nbsp
                p2#donationMessage &nbsp
              p Claim a heart on the wall by donating
              button.donate#greetingTransfer Donate
            div#donationCallToAction(aria-hidden='true')
              button.close.ModalCloser(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×               
              div.modal-body#modalbody
                div.container-fluid
                  div.row
                    div.col-md-6#LeftDesignModal
                      h1#designertitle(style="text-align:center") Customize Your Heart!
                      h5#designersubhead(style="text-align:center") The more your donate, the bigger your heart will be!
                      div.row 
                        div#heartScrollers
                          div#previewContainer
                            div.heart.blue.large.activate#heartPreview B
                          h3#heartOptionsCounter 1 out of 13  
                          p.rightDesign#rightDesignScroller >
                          p.leftDesign#leftDesignScroller <
                        div#colorselector
                          #blueselector.blue.colorbars
                          #lightblueselector.lightblue.colorbars
                          #greenselector.green.colorbars
                          #goldselector.gold.colorbars
                          #orangeselector.orange.colorbars
                          #redselector.red.colorbars
                          #pinkselector.pink.colorbars
                          #purpleselector.purple.colorbars
                    div.col-md-6#RightDesignModal
                      form(name='donation', action='', onsubmit='onSubmit()')
                        input#nameInfo(placeholder='Your name', name='name')
                        input#emailInfo(placeholder='Your Email', name='email')                        
                        br
                        input#dedicatedNameInfo(placeholder='Dedicated To', name ='dedicatedName')
                        input#dedicatedEmailInfo(placeholder="Their Email", name ='dedicatedEmail')
                        br
                        input#donationInfo(placeholder='Amount', name='amount')
                        br
                        input#anonymousInfo(type='checkbox', name='anonymous') 
                        | Anonymous Donation
                        br
                        select#currencyInfo(name='currency')
                          option(value='', disabled='', selected='') Currency
                          option(value='DOL') American Dollar (USD)
                          option(value='GBP') British Pound(GBP)
                          option(value='AUD') Australian Dollar (AUD)
                          option(value='CAD') Canadian dollar (CAD)
                          option(value='EUR') Euro (EUR)
                          option(value='HKD') Hong Kong Dollar  (HKD)
                          option(value='SGD') Singapore Dollar (SGD)
                        br
                        textarea#messageInfo(placeholder="Message to Dedicated", name='message', rows="3", cols="50" )
                        br
                        p#HeartDesignerText Here you can personalise your heart. When you're happy with your design and message, just click continue to be redirected to JustGiving where your donation details will be processed. You will then be redirected here after completing the transaction to see your finished heart!                        
                        br
                        input.donate#submit(type='button', value='Continue', onclick='submitForm();')
            div#ThankYouModal(aria-hidden='true' style="text-align: center")
              h1 Thank you for your donation!
              p  Thank you for donating to Save a Child's Heart! Your donation will help save the life of a child suffering from heart disease.
              br
              button#thankYouButton.donate(type='button', value='Click to see your heart', onclick='thankYouTransition(qJustGivingID);') Click to go to your heart
      script.
        var qViewHeart = !{JSON.stringify(viewHeart) || "null"} ;
        var qAddHeart = !{JSON.stringify(addHeart) || "null"} ;
        var qAnonymous = !{JSON.stringify(anonymous) || "null"} ;
        var qName = !{JSON.stringify(name) || "null"};
        var qEmail = !{JSON.stringify(email) || "null"};
        var qAmount = !{JSON.stringify(amount) || "null"};
        var qMessage = !{JSON.stringify(message) || "null"};
        var qCurrency = !{JSON.stringify(currency) || "null"};
        var qColor = !{JSON.stringify(color) || "null"};
        var qStyle = !{JSON.stringify(style) || "null"};
        var qJustGivingID = !{JSON.stringify(donationId) || "null"};
        var qdedicatedName = !{JSON.stringify(dedicatedName) || "null"};
        var qdedicatedEmail = !{JSON.stringify(dedicatedEmail) || "null"};
 
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/packery.pkgd.min.js')
      script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js")
      script(src='/javascripts/velocity.min.js')
      script(src='/javascripts/jquery.bootstrap-autohidingnavbar.min.js')
      script(src='/javascripts/hearts.js')
      script(src='/javascripts/modalJs.js')

  

      
        