mixin times(limit, block)
  - for (var i = 1; i <= limit; i++) {
    block
  - }

doctype html
html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')    
      title= title
      // Below is the text font for perhaps the entire site
      // link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/hearts.css')
      link(rel='stylesheet', href='/stylesheets/modalForms.css')
      link(rel='stylesheet', href='/stylesheets/heartfont.css')
        
        
    body.heartsBG
      nav.navbar.navbar-default.navbar-fixed-top#navigationBar(role="navigation")
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='change ')
              img#sachLogoNavbar(src="/SVG/SACHlogo.svg" height = "40em" style)
              img#heartsForHeartsNavbar(src="/SVG/heartsForHearts.svg" height = "40em")
          div.navbar-collapse.collapse#navbar
            ul.nav.navbar-nav.navbar-right
              li
                a(href="http://www.saveachildsheart.com/") About
              li
                a(href="https://www.justgiving.com/saveachild/") Contact
        // div.progress
        //   div.progress-bar.progress-bar-success.progress-bar-striped.active(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='10000', style='width: 0%')
        //     span.sr-only 
      div.container
        div.jumbotron
          div.container-fluid
            div.row
              div.col-md-4
                div#logoContainer.centered
                  div#logo
                    img.img-responsive#sachLogo(src="/SVG/SACHlogo.svg")
                    img.img-responsive#heartsForHearts(src="/SVG/heartsForHearts.svg")
              div.col-md-4
                div#meterOutside
                  div#meter
                  img.img-responsive#meterOverlay(src="/img/progress-meter-frame.png")
                  span#meterTotal $1
                    
                button.donate#centerDonate Donate
              div.col-md-4
                p.centered#rightJumboCover $10,000 is required to save the life of one child suffering from heart disease. This amount covers the costs of hospitalization plus room & board at the SACH Children's Home. Children stay for an average of 10 weeks at the SACH Children's Home. There are 1000 children on our waiting list. Help save the children. 

      block content
        div#container
      div.modal.fade.bs-example-modal-lg#myModal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        div.modal-dialog.modal-lg
          div.modal-content
            div#donationGreeting(aria-hidden='false')
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×            
              div#heartContent
                div#clickedHeartPic
                p#heartBelongs Test Belong Field
                p#donationAmountCounter Test  Donation amount:
                p#donationMessage Our thoughts are with you and your family
              p Claim a heart on the wall by donating
              button.donate#greetingTransfer Donate
            div#donationCallToAction(aria-hidden='true')
              div.modal-body
                div.container-fluid
                  div.row
                    div.col-md-6
                      p 
                      div#heartScrollers
                        //p#heartPreview A
                        div.heart.blue.epic.activate#heartPreview
                          span B
                        p.leftDesign#leftDesignScroller <
                        p.rightDesign#rightDesignScroller >
                        //p.leftDesign.directionText prev. heart style
                        //p.rightDesign.directionText next heart style
                      #colorselector
                        #blueselector.blue.colorbars
                        #lightblueselector.lightblue.colorbars
                        #greenselector.green.colorbars
                        #goldselector.gold.colorbars
                        #orangeselector.orange.colorbars
                        #redselector.red.colorbars
                        #pinkselector.pink.colorbars
                        #purpleselector.purple.colorbars
                    div.col-md-6
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') × 
                      p 
                      form(name='donation', action='', onsubmit='onSubmit()')
                        input#nameInfo(placeholder='Donator Name', name='name')
                        input#emailInfo(placeholder='Donator email', name='email')                        
       
                        //br
                        //input#intialsInfo(placeholder='Donator initials', name='initials')
                        br
                        input#dedicatedNameInfo(placeholder='Dedicated Name', name ='dedicatedName')
                        input#dedicatedEmailInfo(placeholder="Email of Dedicated", name ='dedicatedEmail')
                        br
                        input#donationInfo(placeholder='Donation Amt', name='amount')
                        br
                        input#anonymousInfo(type='checkbox', name='anonymous') 
                        | Anonymous Donation
                        br
                        select#currencyInfo(name='currency')
                          option(value='', disabled='', selected='') Currency
                          option(value='DOL') American Dollar (USD)
                          option(value='GBP') British Pound(GBP)
                          option(value='AUD') Australian Dollar (AUD)
                          option(value='CAD') Canadian dollar (CAD)
                          option(value='EUR') Euro (EUR)
                          option(value='HKD') Hong Kong Dollar  (HKD)
                          option(value='SGD') Singapore Dollar (SGD)
                        br
                        input#messageInfo(placeholder="Message to Dedicated", name='message')                        
                        br
                        p Clicking continue will take you to our JustGiving fundraising page to complete your donation. You will be returned here after completing the transaction.                        
                        br
                        input.donate#submit(type='button', value='Continue', onclick='submitForm();')


      
      
      script.
        var qViewHeart = !{JSON.stringify(viewHeart) || "null"} ;
        var qAddHeart = !{JSON.stringify(addHeart) || "null"} ;
        var qAnonymous = !{JSON.stringify(anonymous) || "null"} ;
        var qName = !{JSON.stringify(name) || "null"};
        var qEmail = !{JSON.stringify(email) || "null"};
        var qAmount = !{JSON.stringify(amount) || "null"};
        //var qInitials = !{JSON.stringify(initials) || "null"};
        var qMessage = !{JSON.stringify(message) || "null"};
        var qCurrency = !{JSON.stringify(currency) || "null"};
        var qColor = !{JSON.stringify(color) || "null"};
        var qStyle = !{JSON.stringify(style) || "null"};
        var qJustGivingID = !{JSON.stringify(donationId) || "null"};
        var qdedicatedName = !{JSON.stringify(dedicatedName) || "null"};
        var qdedicatedEmail = !{JSON.stringify(dedicatedEmail) || "null"};
        //console.log(qdedicatedName);
        //console.log(qdedicatedEmail);
        // console.log("qViewHeart is " +qViewHeart);
        // console.log("qAddHeart is " + qAddHeart);
        // console.log("qAnonymous is " + qAnonymous);
        // console.log("qName is " + qName);
        // console.log("qEmail is " + qEmail);
        // console.log("qAmount is " +qAmount);
        // console.log("qInitials is " + qInitials);
        // console.log("qMessage is " + qMessage);
        // console.log("qCurrency is " + qCurrency);
        // console.log("qColor is " + qColor);
        // console.log("qStyle is " + qStyle);
        // console.log("qJustGivingID is " + qJustGivingID);        
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/packery.pkgd.min.js')
      script(src='/javascripts/velocity.min.js')
      script(src='/javascripts/jquery.bootstrap-autohidingnavbar.min.js')
      // script(src='/javascripts/global.js')
      script(src='/javascripts/hearts.js')
      script(src='/javascripts/modalJs.js')

  

      
        